SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=48080
YUDAO_DB_URL=jdbc:mysql://127.0.0.1:3306/oakved?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&nullCatalogMeansCurrent=true&rewriteBatchedStatements=true
YUDAO_DB_USERNAME=oakved_app
YUDAO_DB_PASSWORD=CHANGE_ME_DB_PASSWORD
YUDAO_REDIS_HOST=127.0.0.1
YUDAO_REDIS_PORT=6379
YUDAO_REDIS_DATABASE=0
YUDAO_REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD
YUDAO_ADMIN_UI_URL=__PUBLIC_ORIGIN__/admin
YUDAO_APP_UI_URL=__PUBLIC_ORIGIN__
YUDAO_PAY_ORDER_NOTIFY_URL=__PUBLIC_ORIGIN__/admin-api/pay/notify/order
YUDAO_PAY_REFUND_NOTIFY_URL=__PUBLIC_ORIGIN__/admin-api/pay/notify/refund
YUDAO_PAY_TRANSFER_NOTIFY_URL=__PUBLIC_ORIGIN__/admin-api/pay/notify/transfer
YUDAO_GOOGLE_ADDRESS_VALIDATION_API_KEY=
YUDAO_SECURITY_MOCK_ENABLE=false
